 <form #newEmpForm="ngForm" (ngSubmit)="onEmpSubmit(newEmpForm.value)">
      <div class="form-group col-sm-4">
        <label for="firstname" class="">First Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="First Name"
          name="firstname"
          ngModel
          required>
      </div>
      <div class="form-group col-sm-4">
        <label for="lastname" class="">Last Name</label>
        <input
          type="text"
          class="form-control"
          placeholder="Last Name"
          name="lastname"
          ngModel
          required>
      </div>
      <div class="form-group col-sm-4">
        <label for="email" class="">Email Address</label>
        <input
          name="email"
          class="form-control"
          placeholder="Email Address"
          ngModel
          required>
      </div>
      <div class="form-group col-sm-12">
        <button
          class="btn btn-primary listing-button"
          type="submit"
          ng-show="addListing">
            Add
        </button>
      </div>
    </form>